pre {
  display: block;
  overflow: auto;
  font-size: 13.6px;
  line-height: 1.45;
  padding: 12px 10px;
  margin: 8px 0;
  word-wrap: normal;
  white-space: pre;
  border-radius: 3px;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
}

code,
kbd,
tt,
samp {
  display: inline;
  font-size: 15px;
  padding: 2px 4px;
  border-radius: 3px;
  color: #c7254e;
  background-color: rgba(199, 37, 78, .05);
}

pre>code,
pre>kbd,
pre>tt,
pre>samp {
  font-size: inherit;
  color: inherit;
  background-color: inherit;
  padding: 0;
  border: 0;
  border-radius: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    text-indent: 0;
	border-color: inherit;
}

.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body hr,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul,
.markdown-body .image-container {
  margin-top: 0;
  margin-bottom: 20px;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  color: var(--title-color);
  margin-top: 24px;
  margin-bottom: 20px;
}

.markdown-body h1,
.markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.markdown-body blockquote,
.markdown-body q {
  font-size: 15px;
  color: var(--title-color);
}

.markdown-body blockquote {
  position: relative;
  padding: .95em;
  border-radius: 6px;
  border-left: var(--blockquote-border-left);
  background-color: var(--block-background-color);
}

.markdown-body blockquote:before,
.markdown-body blockquote:after,
.markdown-body q:before,
.markdown-body q:after {
  color: #c6c6cc;
}

.markdown-body q:after {
  content: "âž";
}

.markdown-body blockquote:before {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
}

.markdown-body ol,
.markdown-body ul {
  margin-block-start: 0;
  margin-block-end: 20px;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 2em;

  -webkit-margin-before: 0;
  -webkit-margin-after: 20px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 2em;
}

.markdown-body li+li {
  margin-top: 20px;
}

.markdown-body li> :first-child {
  margin-top: 0 !important;
}

.markdown-body li> :last-child {
  margin-bottom: 0 !important;
}

.markdown-body blockquote> :first-child {
  margin-top: 0;
}

.markdown-body blockquote> :last-child {
  margin-bottom: 0;
}

.markdown-body hr {
  border-top: 1px dashed #a5a5a5;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
}

.markdown-body table tr {
  border: 0;
}

.markdown-body table th {
  color: var(--title-color);
  font-weight: 600;
}

.markdown-body table td,
.markdown-body table th {
  min-width: 120px;
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown-body table th:empty {
  padding: 0;
  border: 0;
}

.markdown-body .katex,
.markdown-body .katex-display,
.markdown-body .MathJax,
.markdown-body .MathJax_Display {
  display: inline-block !important;
  font-size: 18px !important;
  width: auto;
  margin: 0;
  padding: 2px 4px;
  color: var(--title-color);
}

.markdown-body .MathJax {
  outline: none;
}

.markdown-body .highlight {
  margin-top: 0;
  margin-bottom: 20px;
}

.article-header {
    text-align: center;
}

.article-labels {
    text-align: center;
    margin-bottom: 20px;
}

.article-navigation {
  margin: 40px 0 20px 0;
}

.article-navigation p {
  margin: 0;
}

.article-navigation p+p {
  margin-top: 4px;
}

.article-navigation .link {
  font-weight: 600;
}

.article-navigation .li {
  display: inline-block;
  border-color: transparent transparent transparent #838387;
  border-style: solid;
  border-width: 4px;
  margin-right: 4px;
}

.footer-pic {
    margin: 10px 0 0 0;
}

.toc {
    grid-column: 3 / 4;
    position: sticky;
    top: 10px;
    align-self: start;
    padding: 10px;
    font-size: 14px;
    margin-right:10px;
    background-color: var(--block-background-color);
    box-shadow: var(--box-shadow);
    max-height: 85vh;
    overflow-y: auto;
}

.toc-title {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
    color: var(--title-color);
}

nav ul {
    list-style: none;
    margin-left: 1em;
    padding-left: 0;
}

nav ul li a{
  color: var(--site-name-color);
  transition: all 100ms ease-in-out;
  text-decoration: none;
}

nav ul li.active > a,
nav ul li a:hover,
nav ul li a:focus {
  color: var(--color-primary);
  text-decoration: none;
  padding-left: 7px;
  border-left: 2px solid var(--color-primary);
}

.center {
  text-align: center;
  color: var(--title-color);
}

@media (max-width: 1080px) {
  .toc {
      display: none;
  }
}
