<link rel="preconnect" href="https://cdn.jsdelivr.net/" crossorigin>
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net/">
<link rel="dns-prefetch" href="https://fonts.gstatic.com/">
{{- if not .Page.IsHome -}}
{{- end -}}
{{- $coreCSS := resources.Get "css/style.css" -}}

{{- $coreCSS = slice $coreCSS | resources.Concat "css/tmp_core.css" -}}

{{ $criticalCSS := resources.Get "css/critical-style.css" }}
{{- with partial "custom-css.html" . -}}
    {{- if ne . "" -}}
        {{- $criticalCSS = slice $criticalCSS . | resources.Concat "css/custom_core.css" -}}
        {{- $criticalCSS = $criticalCSS | resources.Minify -}}
    {{- end -}}
{{- end -}}

{{- $coreCSS = slice $coreCSS ("" | resources.FromString "css/_core.css") | resources.Concat "css/core.css" -}}
{{- $coreCSS = $coreCSS | resources.Minify | resources.Fingerprint "sha384" -}}

<link rel="preload" href="{{- $coreCSS.RelPermalink -}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{- $coreCSS.RelPermalink -}}" integrity="{{- $coreCSS.Data.Integrity -}}"></noscript>
<style type="text/css">{{- $criticalCSS.Content | safeCSS -}}</style>
